* {
  box-sizing: border-box;
}

html {
  
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  background: white;

}

/*navigation*/
.navigation__wrapper {
  background-color: #D6CDBC;
}

nav.topnav {
  margin: auto;
  width: 100%;

  
}

nav.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav.topnav ul > li {
  float:left;
  width: 20%;
  border-left: solid 2px #ADD9D4;
}

.topnav a {
  float: left;
  display: block;
  width:100%;
  height: 60px;
  line-height: 60px;
  color: #6B693D;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  
  
}

.topnav a:hover {
  background-color: #4E8680;
  color: black;
}

.topnav .icon {
  display: none;
}







/* 1. BASE: basisstijlen van de HTML-elementen */

@import url('https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Optima" rel="stylesheet');

h1,
h2,
h3,
h4,
h5,
h6,
.keywords {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Optima', sans-serif;
    line-height: 1.5;
}

a,
a:visited {
    color: #716058;
    text-decoration: none;
}
a:hover {
    color: #4E8680;
    text-decoration: underline;
}

/* 2. COMPONENTS: onderdelen, worden in de algemene lay-out geplaatst */

.button {
    border-radius: .25em;
    border-style: solid;
    border-width: 0 0 .25em;
    display: inline-block;
    font-weight: bold;
    padding: .25em .5em;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}
.button--default,
.button--default:active,
.button--default:visited {
    background-color:    #ADD9D4;
    border-bottom-color: #4E8680;
    color: #FFF;
}
.button--default:hover {
    background-color:    #4E8680;
    border-bottom-color: #ADD9D4;
    color: #FFF;
}
.button--primary,
.button--primary:active,
.button--primary:visited {
    background-color:    #D6CDBC;
    border-bottom-color:#716058;
    color: #FFF;
}
.button--primary:hover {
    background-color:    #D6CDBC;
    border-bottom-color: #716058;
    color: #FFF;
}


.colours__colour--a {
    background-color: #ADD9D4;
}
.colours__colour--b {
    background-color: #4E8680;
}
.colours__colour--c {
    background-color: #D6CDBC;
}
.colours__colour--d {
    background-color: #716058;
}



.keywords__keyword--a {
    color: #ADD9D4;
    font-size: 3.75rem;
}
.keywords__keyword--b {
    color: #4E8680
    font-size: 1.5rem;
}
.keywords__keyword--c {
    color: #D6CDBC;
    font-size: 2.5rem;
}
.keywords__keyword--d {
    color: #716058;
    font-size: 3.25rem;
}
